*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* all designs excluding mobile */

html{
    scroll-behavior: smooth;
}


body{
   background-color: white;
   text-align: center;
   padding: 50px;
   overflow-x: hidden;
   /* width: fit-content; */
}
/* pages design */
.header{
    color: white;
    padding: 20px;
}
.container{
    position: relative;
    background-color:rgb(0, 190,0);
    margin: auto;
    max-width: 400px;
    min-height: 400px;   
    border-radius: 10px;
    /* box-shadow: 5px 1px 6px crimson;  */
}
.form-group{
    margin: 2em 0;
}
.remForgot{
    display: flex;
    justify-content: space-between;
    margin: 0 2em 1em;
}
span.rememberText{
    color: white;
    cursor: pointer;
    pointer-events: auto;
}
input[type=checkbox]{
    cursor: pointer;
    
}
button#signUp,button#forgotBtn,button#contactSubmitBtn,button#next,button#login,input[type=text],input[type=email],input[type=password]
,button#verifyBtn{
    border-radius: 10px;
    width: 75%;
    padding: 7px;
    border: 2px solid lightblue;
    color: black;
    outline: none;
    cursor: pointer;
}
.signupEmail{
    margin-left: 2em;
}
.loginPassword{
    margin-left: 1.5em;
}
button#next{
    margin-right: 1em;
}
input::placeholder{
    color: green;
}
button#next,button#login,button#signUp,button#forgotBtn,button#verifyBtn{
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    background: rgb(0, 250,0);
    margin-bottom: 1em;
    cursor: pointer;
}


.hrefLinks{
    color: white;
    text-decoration: none;
    font-style: italic;
}
p.sensitive{
    color:wheat;
    padding:0 50px 50px;
}
body.verify{
    background-color: #fff;
}
input.verify{
    width: 30px;
    cursor: pointer;
    border-color: rgb(0, 190,0);
}
input.verifyBtn{
    width: 40%;
}
section.verificationCode{
    padding: 50px 100px;
    display: flex;
    justify-content: space-evenly;
}
/* pages styling ends here */

/* index styling starts here */

body.index{
    background-color: crimson;
    padding: 0;
    text-align: left;
}
div.width500{
    display: none;
}

@media(min-width:701px){
/* nav design */
nav.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 10px;
}
.fixed-nav{  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: goldenrod;
 } 
nav.nav-menu h2.head{
    color: white

}
nav.nav-menu ul.nav-lists{
    display: flex;
    gap: 40px;
    list-style: none;
}
}


nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}
/* First section design */
section.first{
    background: url(images/1-hero-image.jpg);
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:500px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
section.first article.title{
    color: wheat;
    text-transform: capitalize;
    font-size: 60px;
    font-style: italic ;


}
section.first article.info{
    color: goldenrod;
    font-weight: bold;
    font-size: 22px;
    padding: 15px;
}
span.IT{
    color: white;
}
/* first section design ends here */

/* second section design */

h2.ourWorks{
    text-align: center;
    color: #fff;
    background-color: dimgray;
}
article.ourWorks{
    display: flex;
    justify-content: center;
}
img.works{
    width: 100%;
    height: 500px;
}
img.fade{
    animation: fade 2s;
}

@keyframes fade {
    from{opacity: .4;}
      to{opacity: 1; }

}
/* second section design ends here */

/* third section design */
h1.reviews{
    text-align: center;
    color: #fff;
    margin-top: 10px;
}
article img#person-img{
    border-radius: 500px;
}
article.review{
    text-align: center;
    padding: 40px;
    color: #fff;
}
p#info{
    padding: 20px;
    color: lightskyblue;
}

#author{
    padding: 0.5em;
}

.prev-btn,.next-btn{
    padding: 5px;
    background-color: dimgray;
    color: #fff;
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    border: none;
}

select option{
    padding: 20px;
}
.translateBtn,select{
    margin: 20px;
    cursor: pointer;
    border-radius: 7px;
    background: white;
    border: none;
     color: crimson;
    padding: 10px 25px;
    outline: none;
}


/* third  section design ends here */

/* join us button */
.joinUs{
    font-size: 20px;
    text-decoration: none;
    bottom: 3rem;
    right: 1rem;
    position: fixed;
    color: #fff;
    /* border-radius: 10px; */
    /* background-color: white; */
    animation: bounce 5s infinite;
    text-transform: uppercase;
    visibility: hidden;
}
.backToTop{
  display: none;
}
.show-link{
    visibility: visible;
}
@keyframes bounce{ 
    0%{transform: scale(0.7) ;}
    50% {transform: scale(1) ;}
     100%{transform: scale(0.7) ;}
} 

/* fourth section styling start here */

section.fourth{
    background-color: sienna
}

h2.contactUs{
           text-align: center;
           color: white;
           padding: 10px;
}
p.requirement{
    text-align: center;
    text-transform: capitalize;
    color: wheat;
    font-size: 20px;
}
div.contact{
    display: flex;
    justify-content: space-around;

}
input.contact{
    margin: 1em;
    width: 100%;
    text-align: center;
    display: block;
    background-color: gold;
}
textarea#contactMessage{
    margin: 1em;
    outline: none;
    border-radius: 7px;
    
}
textarea::placeholder{
    color: gold;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
    display: block;
}
button.contactBtn{
    /* width: 30%; */
    margin: 0 0 0 2rem;
    text-align: center;
    display: block;
    background-color: gold;
}
textarea{
    padding: 20px;
}
div.parttwo{
    font-size: 20px;
}

.clickhere{
    text-decoration: none;
    color: white;
}

/* fourth section design ends here */

/* footer design */

footer{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
h2.footer{
    color: #fff;
}
span.year{
    font-size: 20px;
}
/* hamburger */

.hamburger{
    display: none;
    position: relative;
}

.hamburger .bar{
    display: block;
    width: 25px;
    background-color: #333;
    height: 3px;
    margin: 5px auto;
    cursor: pointer;
}
/* all designs excluding mobile stops here */
/* design for mobile */

@media(max-width:700px) {
    body.index{
        overflow-x: hidden;
    }
    nav#home{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        
        
    }
    nav#home.height{
        height: 100px;
        align-items: flex-start;
    }
    nav h2.head{
        color: #fff;

    }
    nav ul{
        position: absolute;
        display: block;
        left: 50%;
        top: -100%;
        transition: 0.5s;
    }
    nav ul li{
        height: 25px;
        list-style: none;
    }
    nav ul li a{
        color: gold;
    }

    nav ul.show-links{
        top: 0;
    }
    /* section.first{
        height: 100vh;
    } */
section.first article.title{
    color: wheat;
    text-transform: capitalize;
    font-size: 45px;
    font-style: italic ;
}

div.partone{
    margin-left: 3.9em;
}
input.reduce{
    width: 60%;
}
textarea{
    position: relative;
    padding: 40px 0;
    left: -20px;
}
div.partone button{
    position: relative;
    left: -30px;

}
div.parttwo{
    position: relative;
    font-size: 17px;
    right: 50px;
}

.backToTop{
 font-size: 20px;
 text-decoration: none;
  bottom: 10rem;
 right: 1rem;
 position: fixed;
  color: #fff;
  text-transform: uppercase;
    }
    .show-link{
        display: block;
    }

    /* hamburger div styling */
    
    .hamburger{
        display: block;
        margin: 1em  0;
        cursor: pointer;
    }
    

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg)
    }
}

@media (max-width:550px) {
    nav#home{
        display: none;
    }
    div.width500{
        display: block;
    }
    nav#top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }
    nav#top ul{
        z-index: 100;
        position: absolute;
        width: 100%;
        height: 250px;
        left: -100%;
        top: 50px;
        transition: 1s;
        background: crimson;
    }

    nav#top ul.active{
        left: 0;
    }
    nav ul li{
        padding: 30px; 
        list-style: none;
        text-align: center;
    }
    nav ul li:hover{
        background-color: gold;
    }
    nav ul li a{
        color: white;
    }

   section.first{
       display: block;
       text-align: center;
   }
   section.first article.title{
       font-size: 30px;
       color: goldenrod;
       margin-bottom: 50px;
   }
   section.first article.info{
       color: wheat;
   }

.next-btn{
    margin-left: 15px;
}

textarea{
 left: -15px;
}
div.partone{
 left: 40px;
}
div.parttwo{
 position: relative;
 font-size: 13.5px;
}


 footer{
    padding: 0;
}
h2.footer{
    font-size: 20px;
}
span.year{
    font-size: 20px;
}
  /* hamburger div styling */
     .hamburger{
        display: block;
        margin: 1em  0;
        cursor: pointer;
    }
    .hamburger.sactive .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.sactive .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.sactive .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg)
    }
}
@media (max-width:450px){
   section.fourth div.contact{
        display: block;
    }
    div.partone{ 
     margin-left: 3.9em;
 }
 textarea{
     position: relative;
     left: 30px;
 }

 div.partone button{
     left: -50px;
 
 }
 div.parttwo{
     display: none;
 }
    
 
 
}

/* Javascript Activated Classes */

/* index page */

select .spaceBtw{
    padding: 20px;
    margin: 5px;
    cursor: pointer;

}
select .spaceBtw:hover{
    background: crimson;
}

/* signup page */
.doesNotMatch{
    display: block;
    position: absolute;
    color:red;
    left: 3.3em;
    bottom: 7.4em;
    
}
.validEmail{
    color: rgb(200, 0,0);
    position: absolute;
    top: 135px;
    left: 50px;

}
.emailValid,.firstTime,.secondTime{
    position: relative;
    left: -27px;
    bottom: -5px;
     opacity: 0;
     pointer-events: none;
}
.emailInvalid{
    position: relative;
    left: -52px;
    bottom: -5px;
    opacity: 0;

}
 

.emailValid.active,.emailInvalid.active,.firstTime.active,.secondTime.active{
    opacity: 1;
    pointer-events: auto;
}
.firstTime.active,.secondTime.active{
    cursor: pointer;
}


/* javascript activated classes */
/* login page */

.loginShowIcon{
    position: relative;
    left: -27px;
    bottom: -5px;
     opacity: 0;
     pointer-events: none;
}
.loginShowIcon.active{
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}
 
/* verification page */
.popUp{
    background-color: rgb(0, 190,0);
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 30%;
    border-radius: 20px;
    z-index: 1000;
    pointer-events: none;
    gap: 50px;
    opacity: 0;
}
.popUp.active{
    opacity: 1;
    pointer-events: auto;
}
.popUp p{
    font-size: 20px;
    color: wheat;
}
.popUp a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}
.verifyForm.disable,.forgotForm.disable{
    pointer-events: none;
}

/* forgot password */
.popUpForgot{
    background-color: wheat;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 12%;
    border-radius: 20px;
    z-index: 1000;
    pointer-events: none;
    gap: 50px;
    opacity: 0;
}
.popUpForgot.active{
    opacity: 1;
    pointer-events: auto;
}
.popUpForgot p{
    color: green;
    text-decoration: none;
    font-size: 22px;
}
.popUpForgot a{
    text-decoration: none;
    color: goldenrod;
    font-size: 22px;
}
